*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#070b17;
    color:white;
    min-height:100vh;
}

.container{

    width:100%;
    padding:30px;
}

.topbar{

    text-align:center;
    margin-bottom:30px;
}

.topbar h1{

    font-size:38px;
    font-weight:700;
    color:#00e5ff;
    letter-spacing:2px;
}

.dashboard{

    display:flex;
    gap:30px;
    align-items:flex-start;
}

.video-section{

    flex:2;
}

.video-card{

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:25px;

    padding:20px;

    backdrop-filter:blur(12px);

    box-shadow:0 0 25px rgba(0,229,255,0.2);
}

.video-feed{

    width:100%;
    border-radius:20px;
}

.side-panel{

    flex:1;

    display:flex;
    flex-direction:column;

    gap:25px;
}

.card{

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    padding:25px;

    backdrop-filter:blur(10px);

    box-shadow:0 0 20px rgba(0,229,255,0.15);
}

.card h2{

    color:#00e5ff;
    margin-bottom:20px;
    font-size:28px;
}

.card ul{

    list-style:none;
}

.card ul li{

    margin-bottom:15px;
    font-size:20px;
    color:#dfe6ff;
}

#statusText{
    transition:0.3s ease;
    font-size:55px;
    font-weight:700;
    text-align:center;
    margin-top:10px;
}

.safe{

    color:#00ff66;
}

.warning{

    color:#ffae00;
}

.danger{

    color:#ff2e63;
}